@font-face {
  font-family: Monserrat;
  src: url('/public/assets/font/Montserrat/static/Montserrat-Regular.ttf');
}


body {
  margin: 0;
  font-family: Monserrat, sans-serif;
}

/* PERSISTENT */
.App {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 25% auto;
  height: 100vh;
}

/* @media screen and (max-width: ) {
  
} */

.important {
  filter: invert(12%) sepia(90%) saturate(7498%) hue-rotate(344deg) brightness(99%) contrast(105%);
}

.icon {
  width: 20px;
}

#main-container {
  grid-area: 2/2/2/2;
  padding: 2rem;
}

a {
  color: inherit;
}

input {
  font-family: Monserrat, sans-serif;
}

/* HEADER CONTAINER PERSISTENT */
.make-switcher {
  font-family: Monserrat, sans-serif;
  padding: 0.5rem;
  font-size: 1.1rem;
  width: 200px;
  background-color: initial;
  color: aliceblue;
  border: 1px solid;
}

.make-switcher:hover {
  cursor: pointer;
}

.container {
  width: clamp(60%, 70%, 80%);
}

/* TASK ADD HEADER */
.make {
  grid-area: 1/2/1/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(97 156 207 / 53%);
  padding: 1rem;
}

.horizontal {
  display: flex;
  align-items: center;
  width: 100%;
  /* justify-content: space-around; */
  gap: 1rem;
}

#mark-as-important:hover {
  filter: invert(12%) sepia(90%) saturate(7498%) hue-rotate(344deg) brightness(99%) contrast(105%);
}

#task-title {
  width: clamp(300px, 500px, 800px);
}

#project-title {
  width: clamp(300px, 500px, 800px);
}

/* PROJECT ADD HEADER */


/*  */
#prompt-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #000000a1;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

#prompt {
  background-color: white;
  padding: 2rem;
}

/* SIDEBAR */

#sidebar {
  grid-area: 1/1/1/1;
}

.sidebar {
  padding: 1rem;
  background-color: aliceblue;
}

.sidebar-nav {
  padding: 0.5rem 0rem 0.5rem 1rem;
}

.links {
  text-decoration: none;
}

.underline {
  /* text-decoration: underline; */
  background-color: #fff;
}


.project-box {
  padding: 0.5rem;
  transition: background-color 500ms;
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
}

.highlight-box {
  font-weight: bold;
  background-color: rgb(97, 156, 207);
  transition: background-color 500ms;
}

#project-container {
  display: flex;
  flex-direction: column;
}

#project-display {
  grid-area: 2/1/2/1;
}

.project-same {
  /* flex: 1 0 auto; */
  width: 230px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* CONTAINERS */

/* TASKS */
.task-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.icon-container {
  display: flex;
  gap: 30px;
  /* border: 1px solid; */
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  background-color: rgb(142, 168, 190);
  border-radius: 15px;
}

.task {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  border: 1px solid;
  border-radius: 20px;
  flex: 1 0 auto;
  padding: 0.5rem;
}

.task:hover {
  cursor: pointer;
}

.task.true {
  background-color: rgb(118, 162, 201);
  text-decoration: line-through;
}

.task-text {
  flex: 1 0 auto;
  border: none;
  padding: 0.3rem;
  background-color: inherit;
}

.task-text:hover {
  /* border: inset 1px solid black; */
  box-shadow: 0 0 1px 0 black;
}